@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Home</h1>
            </hgroup>
           
            <p>
                This is my new website using ASP.NET MVC4.This is my new website using ASP.NET MVC4.
                This is my new website using ASP.NET MVC4.This is my new website using ASP.NET MVC4.
                This is my new website using ASP.NET MVC4.This is my new website using ASP.NET MVC4.
                This is my new website using ASP.NET MVC4.This is my new website using ASP.NET MVC4.
                This is my new website using ASP.NET MVC4.This is my new website using ASP.NET MVC4.
                This is my new website using ASP.NET MVC4.This is my new website using ASP.NET MVC4.
                This is my new website using ASP.NET MVC4.
            </p>
        </div>
    </section>
}
